@import '../../style/variables.scss';

.list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__header {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}