.catalog__block {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    color: #000000;
}

.catalog__list {
    margin-top: 30px;
    display: flex;

    &-mod {
        cursor: pointer;
    }

    &-group {
        margin-left: 30px;
        display: flex;
        align-items: center;
        
        .catalog__list-mod {
            height: 16px;
            &:not(:last-of-type) {
                margin-right: 15px;
                margin-top: -1px;
            }
        }
    }
}

.sort__block {
    width: 100%;
}

.sort__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.noTitle {
    text-align: center;
    margin: 0 auto;
}