.infoAbout__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #141821;
}

.infoAbout__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6B7280;
}