@import '../../style/variables.scss';

.header {
    position: relative;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
        position: relative;
        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid $blue-color;
    border-radius: 40px;
    padding-left: 55px;
    transition: .2s linear;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.005em;
    color: #000000;

    &::placeholder {
        color: $gray-color;
    }

    &:hover {
        border-color: $focus-color;
    }

    &:focus-visible {
        border-color: $focus-color;
    }
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        color: $gray-color;
        margin-bottom: 4px;
    }

    &__info {
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        color: #000000;

        a {
            transition: .2s linear;
            
            &:hover {
                color: $focus-color;
            }
        }
    }

    img {
        margin-right: 7px;
        position: relative;
        top: 3px;
    }
}

svg {
    path {
        transition: .1s linear;
    }
    &:hover path {
        fill: $focus-color;
    }
}

.search {
    max-width: 356px;
    width: 100%;
    position: relative;

    &:before {
        content: url(../../resources/img/search.svg);

        position: absolute;
        width: 20px;
        height: 20px;
        left: 20px;
        top: 10px;
    }
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        display: block;
        width: 20px;
        height: 20px;

        &:not(:last-of-type) {
            margin-right: 10px;
            margin-top: 2px;
        }
    }
}

.bag {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 11px;
    }

    &:hover {
        path {
            fill: $focus-color;
        }
    }
}

.header__modal {
    position: absolute;
    background: #F3F4F6;
    padding: 10px 0;
    width: 330px;
    min-height: 60px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.search__error {
    margin-top: 8px;
    font-weight: 600;
    font-size: 16px;
}

.search__item {
    margin: 0 5px;
    padding: 10px;
    max-width: 310px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #9CA3AF;
    border-radius: 10px;
    transition: 0.1s linear;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
        margin-bottom: 12px;
    }

    &:hover {
        border-color: #3B82F6;
    }

    &-left {
        max-width: 220px;
        width: 100%;
    }

    &-price {
        font-weight: 600;
        font-size: 16px;
        line-height: 14px;
        margin-bottom: 5px;
    }

    &-raiting {
        max-width: 90px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}

.search__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}