@import './variables';

@font-face {
    font-display: swap;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/source-sans-pro-v21-cyrillic-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/source-sans-pro-v21-cyrillic-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/source-sans-pro-v21-cyrillic-700.woff2') format('woff2');
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        transition: .1s linear;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    outline: none;
}

.app {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px 0 15px;
    position: relative;
}
  
.slick-next {
    &:before {
        transition: .1s linear;
        content: url(../resources/img/right-arrow.svg) !important;
    }
}

.slick-prev {
    &:before {
        transition: .1s linear;
        content: url(../resources/img/left-arrow.svg) !important;
    }
}

.slick-dots {
    li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 12.5px;

        button {
            width: 10px;
            height: 10px;
            background: #FFFFFF;
            border: 1px solid #9CA3AF;
            border-radius: 50%;
            transition: .1s linear;

            &:hover, &:focus {
                background: $blue-color;
            }

            &:before {
                border-radius: 50%;
                content: '';
                width: 10px;
                height: 10px;
            }
        }

        &.slick-active button {
            background: $blue-color;
        }
    }
}

.error {
    &__img {
        text-align: center;
        margin-top: 20px;  
    }

    &__text {
        font-weight: 900;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.2px;
        color: #000000;
        margin-top: 30px;     
    }
}

.title {
    margin-bottom: 30px;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}
