.sort__item {
    border-radius: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #9CA3AF;
    background: #F9FAFB;
    transition: .1s linear;
    cursor: pointer;
    padding: 5px 8px;

    &:not(:last-of-type) {
        margin-right: 15px;
    }

    &--active {
        background: #EFF6FF;
        color: #3B82F6;
    }

    &:hover {
        background: #EFF6FF;
        color: #3B82F6;
    }
}